# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build artifacts
build/
dist/
package-lock.json

# Ignore editor-specific files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db